NUXT_SESSION_PASSWORD=32 character string

# development, test & production
NUXT_PUBLIC_APP_ENV='development'

DATABASE_URL='database url'

NUXT_SHOW_MOVIE_API_KEY=tmdb api key

NUXT_PUBLIC_SHOW_MOVIE_BASE_URL=https://image.tmdb.org/t/p/w500

NUXT_PUBLIC_SHOW_MOVIE_BACKDROP_URL=https://image.tmdb.org/t/p/w1280